 <ion-content [fullscreen]="true">
    <div>
  <ion-img src="assets/LogoCK.png" class="logo" [routerLink]="['/home']"></ion-img>   
</div>

<ion-card >
  <img class="leon"alt="leon" src="https://static.wikia.nocookie.net/floppapedia-revamped/images/5/5f/ActualBingus.jpg" />
  <ion-card-header>
    <ion-card-title >What color is the lion?</ion-card-title>
  </ion-card-header>
</ion-card>

<div class="divboton">
  <button class="button-Home" [routerLink]="['/menu']">Go to Menu 📃</button>
</div>
</ion-content>
