*{
  --background: linear-gradient(to bottom, #ffd700, #ff8c00);
}
ion-content {
  --background: url('/assets/Fondo2.jpg') no-repeat center center; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100v;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
  z-index: 1;
}
.button-Home {

  cursor: pointer;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  border-style: double;
  font-weight: 600;
  background-image: linear-gradient(
    rgb(54, 53, 53),
    rgb(0, 0, 0),
    rgb(54, 54, 54)
  );
  color: rgb(164, 164, 162);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: rgb(0, 0, 0);
  transition: 400ms;
  
}
.divboton{
  display: flex;
  justify-content: flex-end;    
  align-items: center;
  width: 100%;
padding-left: 9%; 
padding-top:15%;
  
}


.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
  z-index: 1;
}

.leonXd{
  text-align: center;
}
ion-card{
--background: #000;
  --color: #9efff0;
  width: 100px;
  max-width: 400px; /* Ancho máximo del card */
  margin: 0 auto; 
}
.leon{
  width:auto ;
}