<ion-content class="ion-padding">
  <ion-img src="assets/LogoCK.png" class="logo" [routerLink]="['/home']"></ion-img>

      <ion-card class="ionpadre"color="medium">
        <ion-button >
        <ion-card class="ionhijo">
          <ion-img class="ionimg1 " src="https://ionic-docs-demo-v7.vercel.app/assets/madison.jpg" alt="xd"></ion-img>
        </ion-card>
      </ion-button>
      </ion-card>

      <ion-button  class="boton1" (click)="confirmarRedireccion()">Go to Menu 📃</ion-button>
</ion-content>